*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.log
*.egg-info
*.py.disabled
.project
.pydevproject
db/
log/
venv/
virtenv/
/venv??/
dist/
build/
*.db
logging_settings_local.py
*.log.*
wsgi/openshift/bss_parallels/xmlrpcserver_state/*
-celery1
-celery2
1.*
db.sqlite3
